name: Ruby Gem

on:
  push:
    branches: '**'

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        ruby: ['3.0', '3.1', '3.2', '3.3', head]
    runs-on: ${{ matrix.os }}
    permissions: write-all
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: latest
    - run: bundle
    - run: bundle exec rake test
    - run: bundle exec standardrb
      if: ${{ matrix.ruby != 'head' }}
    - name: SimpleCov Ruby ${{ matrix.ruby }}
      uses: joshmfrankel/simplecov-check-action@main
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.ruby == '3.2' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_job_name: SimpleCov ${{ matrix.ruby }}
    - run: bundle exec gem build
